{% extends 'base.html.twig' %}
{% import '@SpipuUi/macro/buttons.html.twig' as buttons %}
{% import '@SpipuUi/macro/size.html.twig' as convertSize %}

{% set menuCurrentItem="spipu-process-admin-task" %}

{% block header_title %}{{ parent() }} - {{ block('main_title') }}{% endblock %}

{% block main_title %}{{ 'spipu.process.page.admin.task.execute'|trans({'%code': process.code}) }}{% endblock %}

{% block main_actions %}
    {{ buttons.back(path('spipu_process_admin_task_execute_choice')) }}
    {{ buttons.submitManagerForm(formManager) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bolder">Information</div>
                <table class="table table-striped table-hover table-sm mb-0">
                    <tr><th>{{ 'spipu.process.field.process.code'|trans }}</th></tr>
                    <tr><td>{{ process.code }}</td></tr>
                    <tr><th>{{ 'spipu.process.field.process.name'|trans }}</th></tr>
                    <tr><td>{{ process.name }}</td></tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bolder">{{ 'spipu.process.field.process.options'|trans }}</div>
                <table class="table table-striped table-hover table-sm mb-0">
                    <tr><th>{{ 'spipu.process.field.option.can_be_put_in_queue'|trans }}</th></tr>
                    <tr><td>{% if (process.options.can_be_put_in_queue) %}{{ 'spipu.ui.options.value_yes'|trans }}{% else %}{{ 'spipu.ui.options.value_no'|trans }}{% endif %}</td></tr>
                    <tr><th>{{ 'spipu.process.field.option.can_be_rerun_automatically'|trans }}</th></tr>
                    <tr><td>{% if (process.options.can_be_put_in_queue) %}{{ 'spipu.ui.options.value_yes'|trans }}{% else %}{{ 'spipu.ui.options.value_no'|trans }}{% endif %}</td></tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bolder">{{ 'spipu.process.field.process.parameters'|trans }}</div>
                <table class="table table-striped table-hover table-sm mb-0">
                    {% for name, value in process.parameters %}
                        <tr><th>{{ name }}</th></tr>
                        <tr><td>{{ value }}</td></tr>
                    {% else %}
                        <tr><td>{{ 'spipu.process.field.parameter.empty'|trans }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card mb-3">
                <div class="card-header font-weight-bolder">{{ 'spipu.process.field.process.inputs'|trans }}</div>
                <table class="table table-striped table-hover table-sm mb-0">
                    {% for name, type in process.inputs %}
                        <tr><th>{{ name }}</th></tr>
                        <tr><td>{{ 'spipu.process.field.input.type'|trans({'%type': type}) }}</td></tr>
                    {% else %}
                        <tr><td>{{ 'spipu.process.field.input.empty'|trans }}</td></tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {{ renderManager(formManager) }}
{% endblock %}
